/*
colors teal from
https://www.google.com/design/spec/style/color.html#color-color-palette
*/

body {
  background: #FBFBFB;
}

.brand {
  height: 48px;
  margin-top: -0.5em;
}

pre {
  background: #ECEFF1;
  padding: 1.5rem;
}

th, td {
  vertical-align: top;
  padding: 10px
}

h1 {
  font-size: 2.61803rem;
  line-height: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #00695C;
}

h2, h3, h4, h5, h6 {
  color: #00796B;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  position: relative;
  text-decoration: none;
  color: #00695C
}

h1 a {
  color: #00695C
}

h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #00796B
}

a, a:active, a:hover, a:focus, a:visited {
  color: #26A69A;
}

code:not([class]) {
  color: #26A69A;
}

h1:hover a:before, h2:hover a:before, h3:hover a:before, h4:hover a:before, h5:hover a:before, h6:hover a:before {
  position: absolute;
  left: -20px;
  content: '-';
}

/*code samples*/
pre > code{
  background: transparent !important
}

.code-12 > pre {
  padding: 2px;
  margin: 0;
}

.code-12 > pre > code {
  font-size: 12px;
}

.code-10 > pre {
  padding: 2px;
  margin: 0;
}

.code-10 > pre > code {
  font-size: 10px;
}




/*options*/
.optionstable table {
  line-height: 1.5rem;
  margin-bottom: 80px;
}

.optionstable tr {
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #ccc
}

.optionstable thead tr {
  border-bottom: solid 1px #000
}

/*ecosystem*/
